.signup-box {
	width: 350px;
	display: flex;
	align-items: start;
	justify-content: center;
	flex-direction: column;
	gap: 2rem;

	.err-text {
		color: red;
		font-size: 1.5rem;
		height: 15px;
	}

	div {
		height: 70px;
		width: 100%;
		position: relative;
	}
	input {
		padding: 0 20px;
		font-size: 1.8rem;
		height: 70px;
		width: 100%;
		outline: none;
		border: 1px solid var(--color-dark-grey);
		background: #fff;

		&:-webkit-autofill,
		&:-webkit-autofill:hover,
		&:-webkit-autofill:focus,
		&:-webkit-autofill:active {
			transition: background-color 5000s ease-in-out 0s;
		}
	}
	.eye {
		position: absolute;
		top: 50%;
		right: 20px;
		transform: translateY(-50%);
		font-size: 2rem;
		cursor: pointer;
		color: var(--color-black);
	}

	button {
		width: 100%;
		height: 50px;
		text-transform: uppercase;
		font-size: 1.5rem;
		color: var(--color-white);
		background: var(--color-red);
		outline: none;
		border: none;
		font-weight: 600;
		cursor: pointer;
		box-shadow: 0 2px 5px #0000001f;

		.loading-icon {
			height: 100%;
		}
		&:hover {
			box-shadow: 0 5px 10px #4e4e4e33;
		}

		&:disabled {
			background: #9494949f;
			cursor: not-allowed;
		}
	}
}
@media screen and (max-width: 375px) {
	.signup-box {
		width: 310px;
	}
}
