.header-wrapper {
  height: 80px;
  width: 100%;
  background: red;
  box-shadow: 0 2px 10px var(--color-header-shadow);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;

  .header {
    height: 100%;
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
.logoImg
{
  width:90px;
}
    .logo {
      display: flex;
      align-items: center;
      gap: 4rem;
      width: 50%;
      .__left {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 1rem;
        width: 100%;

        &:hover {
          .type {
            color: var(--color-red);
          }
          .__left-location > span {
            .icon {
              color: var(--color-red);
            }
            &:first-child {
              color: var(--color-red);
            }
          }
        }

        .type {
          display: inline-block;
          font-size: 1.4rem;
          font-weight: 400;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 3px;
          cursor: pointer;
          color: var(--color-grey-black);
          font-weight: 700;
          border-bottom: 2px solid var(--color-black-link);

          .icon {
            display: none;
            font-size: 2rem;
            color: var(--color-yellow);
          }
        }

        .__left-location {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: 50%;

          .formated-address {
            font-size: 1.4rem;
            font-weight: 400;
            display: inline-block;
            align-items: center;
            justify-content: flex-start;
            cursor: pointer;
            color: var(--color-grey-black);
            width: 80%;
            max-width: fit-content;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          span {
            font-size: 1.4rem;
            font-weight: 400;
            display: flex;
            align-items: center;
            cursor: pointer;
            color: var(--color-grey-black);
            .icon {
              color: var(--color-black-link);
              font-size: 2rem;
              font-weight: 600;
            }
          }
        }
      }
    }

    .nav-links {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3rem;

      .search {
        input {
          padding: 5px;
          font-size: 1.5rem;
          outline: none;
          border: 1px solid var(--color-white);

          &::placeholder {
            color: var(--color-white);
          }
        }
      }

      .link {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7px;
        cursor: pointer;

        div {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
        }
        .truncate {
          width: 65px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .profile-img {
          height: 30px;
          width: 30px;
          object-fit: cover;
          border-radius: 100%;
        }

        .item {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: var(--color-black-link);
          font-size: 1.4rem;
          font-weight: 600;
        }

        .icon {
          stroke: var(--color-white);
          stroke-width: 0;
          fill: var(--color-white);
        }

        span {
          font-size: 1.6rem;
          font-weight: 600;
          color: var(--color-white);
        }

        .cart-empty {
          stroke: var(--color-black-link);
        }
        .cart-nonempty {
          stroke: var(--color-green);
          fill: var(--color-green);
        }
        .color-white {
          color: var(--color-white);
        }

        &:hover {
          .icon {
            fill: blue;
          }
          .cart-empty {
            stroke: blue;
          }
          .cart-nonempty {
            stroke: blue;
            fill: blue;
          }
          span {
            color: blue;
          }
          .color-white {
            color: var(--color-white);
          }
        }
      }
    }
    .mobile-nav {
      display: none;
      z-index: 98;
      .bars {
        font-size: 3rem;
      }
    }
  }

  @media screen and (max-width: 1300px) {
    .header {
      width: 80%;
    }
  }
  @media screen and (max-width: 865px) {
    .header {
      width: 90%;
    }
  }
  @media screen and (max-width: 768px) {
    .header {
      .nav-links .search {
        display: none;
      }
    }
    .header .logo {
      width: 70%;
      .logo-link {
        display: none;
      }
      .__left {
        flex-direction: column;
        align-items: start;
        gap: 0;
        width: 100%;
        .type {
          border-bottom: 0;
          font-size: 1.7rem;
          font-weight: 800;
          .icon {
            display: flex;
          }
        }
        .__left-location {
          width: 100%;
        }
      }
    }

    .header .nav-links .name {
      display: none;
    }
    .header .nav-links .cart {
      display: none;
    }
    .header > .mobile-nav {
      display: block;
    }
  }
}

// Monile nav

// .mobile-nav-menu {
//   position: fixed;
//   background: #f5f5f5ee;
//   z-index: 98;
//   height: 50vh;
//   width: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   .nav-links {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-direction: column;
//     gap: 3rem;

//     .search {
//       .input-wrapper {
//         position: relative;
//         input {
//           padding: 5px;
//           font-size: 1.5rem;
//           outline: none;
//           border: 1px solid var(--color-grey-black);

//           &::placeholder {
//             color: var(--color-dark-grey);
//           }
//         }
//         .cross {
//           position: absolute;
//           right: 0;
//           top: 50%;
//           transform: translate(0, -50%);
//           height: 100%;
//           width: 30px;
//           padding: 5px;
//           cursor: pointer;
//         }
//       }
//     }

//     .link {
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       gap: 7px;
//       cursor: pointer;

//       div {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         position: relative;
//       }
//       .truncate2 {
//         width: 45px;
//         white-space: nowrap;
//         overflow: hidden;
//         text-overflow: ellipsis;
//       }

//       .profile-img {
//         height: 30px;
//         width: 30px;
//         object-fit: cover;
//         border-radius: 100%;
//       }

//       .item {
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//         color: var(--color-black-link);
//         font-size: 1.4rem;
//         font-weight: 600;
//       }

//       .icon {
//         stroke: var(--color-black-link);
//         stroke-width: 0;
//         fill: var(--color-black-link);
//       }

//       span {
//         font-size: 1.6rem;
//         font-weight: 600;
//         color: var(--color-black-link);
//       }

//       .cart-empty {
//         stroke: var(--color-black-link);
//       }
//       .cart-nonempty {
//         stroke: var(--color-green);
//         fill: var(--color-green);
//       }
//       .color-white {
//         color: var(--color-white);
//       }

//       &:hover {
//         .icon {
//           fill: var(--color-red);
//         }
//         .cart-empty {
//           stroke: var(--color-red);
//         }
//         .cart-nonempty {
//           stroke: var(--color-red);
//           fill: var(--color-red);
//         }
//         span {
//           color: var(--color-red);
//         }
//         .color-white {
//           color: var(--color-white);
//         }
//       }
//     }
//   }
// }

// .top-to-bottom {
//   top: 80px;
//   animation: topToBottom 0.5s ease-in-out;
//   transform: translateY(0);
// }
// .bottom-to-top {
//   top: 0;
//   animation: bottomToTop 0.5s ease-in-out;
//   transform: translateY(-100%);
// }

// Mobole Bottom Nav

.mobile-bottom-nav {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 65px;
  width: 100%;
  margin: auto;
  background: #ffffff;
  z-index: 999999;
  display: none;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--color-dark-grey);

  .nav {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    .active-nav {
      svg {
        stroke: var(--color-red);
        fill: var(--color-red);
      }
      .text {
        color: var(--color-red) !important;
      }
    }
    .nav-bottom-btn {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 0.7rem;
      position: relative;

      .icon-btm {
        height: 35%;
        width: 100%;
        color: var(--color-black-link);
      }
      .tag {
        font-size: 1.2rem;
        position: absolute;
        right: -5px;
        top: 7px;
        min-height: 20px;
        min-width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        background: var(--color-black-link);
        color: var(--color-white);
      }
      .text {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.1rem;
        color: var(--color-grey-black);
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .mobile-bottom-nav {
    display: flex;
  }
}

@keyframes topToBottom {
  from {
    transform: translate(0, -100%);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes bottomToTop {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, -100%);
  }
}
.black-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #12121d98;
  z-index: 100;
}
.signin-side-wrapper {
  .signin-side {
    width: 40%;
    height: 100%;
    background: #ffffff;
    position: fixed;
    top: 0;
    right: 0;
    display: grid;
    grid-template-rows: 150px 1fr;
    padding: 4rem;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 101;

    .top {
      width: 350px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left {
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 2rem;
        margin-right: 5rem;

        .icon {
          font-size: 2rem;
          cursor: pointer;
        }
        .login-box {
          .login {
            font-size: 3rem;
            color: var(--color-black-link);
            font-weight: 600;
            margin-bottom: 0.5rem;
          }
          .create {
            font-size: 1.3rem;

            span {
              &:first-child {
                margin-right: 5px;
              }
              &:last-child {
                color: var(--color-red);
                cursor: pointer;
                font-weight: 500;
              }
            }
          }
        }
        .style {
          width: 30px;
          border-radius: 50px;
          height: 2px;
          background: #000;
        }
      }
      .right {
        img {
          height: 100px;
          width: 100px;
          object-fit: cover;
        }
      }
    }
  }

  .visible-side {
    transform: translateX(0);
  }
}

.place_box_side {
  height: 100vh;
  width: 40%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  display: flex;
  align-items: start;
  justify-content: flex-end;
  padding: 5rem;
  z-index: 101;
}

@media screen and (max-width: 1080px) {
  .signin-side-wrapper {
    .signin-side {
      width: 50%;
    }
  }
  .place_box_side {
    width: 50%;
  }
}
@media screen and (max-width: 860px) {
  .signin-side-wrapper {
    .signin-side {
      width: 70%;
    }
  }
  .place_box_side {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  .signin-side-wrapper {
    .signin-side {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      .top .left .style {
        margin-bottom: 3rem;
      }
    }
  }
  .place_box_side {
    width: 100%;
  }
}
@media screen and (max-width: 375px) {
  .signin-side-wrapper {
    .signin-side {
      .top {
        width: 310px;
      }
    }
  }
}
